/* Shared Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
    margin:0;
}
section{
    margin:100px 0;
}
/* Header Styles */
/* #header{
    padding:0px 120px;
} */
/* Nav Styles */
.nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:100px 120px;
}
.nav .nav-title {
    color: #3A3A3A;
    font-weight:700;
    font-size:1.5rem;
}
.nav-link {
    display:flex;
}
.nav-link li {
    list-style:none;
    margin-right: 30px;
}
.nav-link a{
    text-decoration:none;
    color:#3A3A3A;
    font-weight:600;
}
/* Banner Styles */
.banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 120px;
}
.banner-title{
    color:#3A3A3A;
    font-size:3.25rem;
    font-weight:700;
}
.banner-description{
    color:#3A3A3A;
    font-weight:600;
    margin-top:15px;
    max-width:500px;
}
.banner-btn{
    padding:16px 26px;
    border-radius:50px;
    border:none;
    background-color: #E02C6D;
    color:#FFF;
    font-weight:700;
    margin-top:30px;
}
/* Main Section Style */
#main{
    max-width:1440px;
    margin:0 auto;
}

/* Online Partner Styles */
.popular-title{
    text-align: center;
    color:#3A3A3A;
    font-weight: 600;
    font-size:1.8rem;
    margin:20px 0;
}
.online-partner-container{
    display:flex;
    justify-content: space-between;
}
/* Poplular Collection Styyles*/
.popular-collection-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.popular-collection-items{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding:12px;
}
.popular-collection-items img{
    width:100%;
}
.popular-collection-title{
    color:#18191F;
    font-size:1.8rem;
    font-weight:500;
    margin:10px 0;
}
.popular-collection-price{
    color: rgba(0, 0, 0, 0.87);
    font-size:1.5rem;
    font-weight:400;
}
.popular-collection-description{
    color:#787885;
    font-weight:700;
    font-size:0.9rem;
}
.gold{
    color:gold;
}


.review{
    display:flex;
    gap:20px;
}
.see-more{
    text-align:right;
    margin-top: 30px;
    color: rgba(224, 44, 109, 0.87);
    font-weight:700;
}
/* Featuure Styles */
.feature{
    display:flex;
    gap:100px;
    align-items: center;
}
.feature-title{
    color:#0A0826; 
    font-size:2.5rem; 
    font-weight:700;
}
.feature-description{
    max-width:500px;
    line-height:28px;
    color:#6C6C6C;
    font-weight:700;
}
.feature-btn{
    padding:10px 24px;
    border:none;
    background-color:#E02C6D;
    color:#fff;
    font-weight:700;
}

/*Footer Styles */
.footer{
    background-color:#000000DE;
    text-align:center;
    padding:50px 0;
}
.footer > ul{
    display:flex;
    
    justify-content: center;
}
.footer li{
    list-style:none;
    margin-right:20px;
}

/* CSS Media Query For Responsive */
/* Responsive For Mobile Device */
@media screen and (max-width: 576px){
    .nav,.banner,.feature{
        flex-direction: column;
    }
    .nav{
        padding:10px;
    }
    .banner{
        padding:10px;
        text-align:center;
    }
    .banner-description{
        width:100%;
        margin:0 auto;
    }
    .online-partner-container{
        flex-wrap: wrap;
        justify-content: center;
        gap:40px;
    }
    .popular-collection-container{
        grid-template-columns: repeat(1,1fr);
        padding:10px;
    }
    .see-more{
        text-align:center;
    }
    .feature{
        text-align:center;
        gap:20px;
    }
    .feature-description{
        width:100%;
        margin:0 auto;
        padding:10px;
    }
}
/* Responsive For Tablet Device */
@media screen and (min-width: 576px) and (max-width: 960px){
    .nav,.banner,.feature{
        flex-direction: column;
    }
    .nav{
        padding:30px;
    }
    .banner{
        padding:30px;
        text-align:center;
    }
    .banner-description{
        width:100%;
        margin:0 auto;
    }
    .online-partner-container{
        flex-wrap: wrap;
        justify-content: center;
        gap:40px;
    }
    .popular-collection-container{
        grid-template-columns: repeat(2,1fr);
        padding:10px;
    }
    .see-more{
        text-align:center;
    }
    .feature{
        text-align:center;
        gap:20px;
        padding:10px;
    }
    .feature-description{
        width:100%;
        margin:0 auto;
    }
}